.status__container{
    --gray-color: #838383;
    --black-color:#000000;
    --light-green-color:#7ED957;
    --light-red-color: #FC3939;
    font-family: 'Inter' sans-serif;
}
.status__container{
    position: relative;

}

.status__container .status__content{
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 50%;
    padding-top: 2%;
    
}
.status__container  h3{
    padding-top: 2%;

}

.status__container .status__content .first__button p, .second__button p{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--gray-color);

}
.status__container .status__content .first__button .selected{
    color: var(--light-green-color);
}

.status__container .status__content .second__button .rejected{
    color: var(--light-red-color);
}

