.CardTile__container{
    --grey-color: #838383;
    --light-grey: #ABABAB;
    --very-light-grey: #F9F9F9;
    --box-shadow: rgba(0,0,0,0.2);
    font-family: 'Inter', sans-serif;
}

.CardTile__column{
    margin: 15px 2px 2px 2px;
 

}


.CardTile__container{
    box-shadow:  0 4px 8px 0 var(--box-shadow);
    border: 1px solid var(--light-grey);
    border-radius: 5px;
    transition: 0.3s ease-in-out;
    padding: 2%;
    margin-bottom: 4%;
    width: 335px;
}
.CardTile__container:hover, .CardTile__container:focus{
    box-shadow: 0 8px 16px 0 var(--box-shadow);
}

.CardTile__container p, .CardTile__container span{
    font-size: 0.875rem;
    line-height: 16.94px;
    color: var(--grey-color);
}
.CardTile__container p{
    margin: 4% 0;
}

.candidate__details h2{
    font-size: 1rem;
    font-weight: 400;
    line-height: 19.36px;
}

.candidate__details, .experience__container, .experience__count, .viewAll__details{
    display: flex;
    align-items: center;
}
.candidate__details, .experience__container{
    justify-content: space-between;
}

.experience__container .viewAll__details{
    cursor: pointer;
}

@media screen and (max-width: 640.3333px) {
   .CardTile__container{
       width: 591px;
   }
    
  
  }

  @media screen and (max-width: 540.9999px) {
    .CardTile__container{
        width: 489px;
    }
     
   
   }

   @media screen and (max-width: 500.99999px) {
    .CardTile__container{
        width: 376px;
    }
     
   
   }

   @media screen and (max-width: 395.99999px) {
    .CardTile__container{
        width: 351px;
    }
     
   
   }

   @media screen and (max-width: 375.99999px) {
    .CardTile__container{
        width: 335px;
    }
     
   
   }

   @media screen and (max-width: 370.99999px) {
    .CardTile__container{
        width: 326px;
    }
     
   
   }

   @media screen and (max-width: 320.99999px) {
    .CardTile__container{
        width: 289px;
    }
     
   
   }