.column{
    --box-shadow: rgba(0,0, 0,0.2);
    --dark-gray-color: #838383;
    --gray-color:#ABABAB;
    --light-gray:#F9F9F9;
}
.column .job__card {
    box-shadow: 0 4px 8px 0 var(--box-shadow);
    transition: 0.3s;
    width:335px;
    height: 136px;
    border-radius: 5px;
    top: 122px;
    left: 20px;
    background:var(--light-gray) ;
    z-index: 1;
    margin: 20px;
    border: 1px solid var(--gray-color);
  
  }
  .column .job__card:hover {
    box-shadow: 0 8px 16px 0 var(--box-shadow);
  }
  .job__container .row__text .details, .skills, .job__container .mid__section .experience span, 
  .job__container .mid__section .location span, .job__container .bottom__section .applied_candidate, .job__container .bottom__section .view__section {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--dark-gray-color);
   
}

.column .job__card .job__container {
    padding: 5px 2px 5px 5px;
    width: 330px;
  }
  .skills{
    line-height: 39px;
}
.view__section{
    /* margin-left: 105px; */
}
.job__container  .mid__section, .bottom__section, .bottom__section .view__section {
    display: flex;
    align-items: center;
    

}


.job__container  .mid__section{
    padding-top: 2%;
    width: 40%;
    justify-content: space-between;

}
.bottom__section{
    padding-top: 7%;
    justify-content: space-between;
}

.location span, .experience span{
    margin-left: 2px;
    padding-left: 0px;
}

@media screen and (max-width: 320px) {
    .column .job__card  {
        width: 295px;
    }
    .column .job__card .job__container {
        width: 286px;
    }
    .view__section{
        margin-left: 37px;
    }

}
@media screen and (max-width: 280px) {
    .column .job__card{
     
        width: 258px;
    }
    .column .job__card .job__container {
     
        width: 250px;
    }
    .job__container .bottom__section{
        width: 100%;
    }
    .job__container .mid__section{
        width: 49%;    
    }    
    
  
  }
    

