.job__wrapper{
    position:relative;
    align-content: center;
    max-width:100%;
    top: -43px;
    padding-top: 5%;
  }
  .search{
    position: relative;
    align-content: center;
    padding-top: 12%;

  }
  @media screen and (max-width: 600px) {
    .search{
      padding-top: 18%;
      padding-bottom: 5%;
    
     
  }
    

  }
  @media screen and (max-width: 390px) {
    .search{
        padding-top: 18%;
        padding-bottom: 5%;
      
       
    }
  }




 

  

 
  
