.admin__Page__Container{
    --inter-font: 'Inter', sans-serif;
}

.admin__Page__Container {
    font-family: var(--inter-font);
}

.admin__Page__Container .transparent__Bg {
    background: transparent !important;
}

.admin__Page__Container .navbar-container .menu__Icon__Container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.admin__Page__Container .navbar-container .menu__Icon__Container h2{
    white-space: nowrap;
}

.admin__Page__Container .admin__Jobs__Container{
    width: 89%;
    margin: 4% auto;
    padding-bottom: 1%;
}

.admin__Page__Container .current__Job__Display span {
    display: block;
    margin: 0;
}

.admin__Page__Container .current__Job__Display span.title__Text{
    font-size: 1.125rem;
    font-family: var(--inter-font);
    font-weight: 500;
    line-height: 21.78px;
}

.admin__Page__Container .current__Job__Display span.title__Text p{
    margin-top: 2%;
}

.admin__Page__Container .current__Job__Display span.title__Text .custom-hr,
.admin__Page__Container .current__Job__Display .custom-hr{
    position: relative;
}

.admin__Page__Container .current__Job__Display span.title__Text .custom-hr {
    margin: 8%;
}

.admin__Page__Container .current__Job__Display span.display__Flex{
    display: flex;
    align-items: center;
}

.admin__Page__Container .current__Job__Display .textarea__Div__Container,
.admin__Page__Container .current__Job__Display textarea,
.admin__Page__Container .current__Job__Display input{
    border: none;
    outline: none;
    border-radius: 5px;
    line-height: 21.78px;
}

.admin__Page__Container .current__Job__Display .textarea__Div__Container p,
.admin__Page__Container .current__Job__Display textarea,
.admin__Page__Container .current__Job__Display input{
    color: #838383;
}

.admin__Page__Container .current__Job__Display .textarea__Div__Container{
    background-color: #fff;
    padding: 8% 4%;
}

.admin__Page__Container .current__Job__Display .textarea__Div__Container.edit__Page input{
    width: 100%;
    margin-right: auto;
    margin-left: 0;
    height: max-content;
}

.admin__Page__Container .current__Job__Display .textarea__Div__Container p{
    display: flex;
    align-items: center;
    margin: 3% 0;
    font-size: 0.875rem;
}

.admin__Page__Container .current__Job__Display .textarea__Div__Container .new__Key__Value__Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.admin__Page__Container .current__Job__Display .textarea__Div__Container.edit__Page.transparent__Bg {
    padding: 0;
}

.admin__Page__Container .current__Job__Display .textarea__Div__Container .new__Key__Value__Container:not(:last-child) {
    margin-bottom: 5%;
}

.admin__Page__Container .current__Job__Display .textarea__Div__Container .new__Key__Value__Container > *:nth-child(odd) {
    margin-right: 4%;
    flex-basis: 28%;
}

.admin__Page__Container .current__Job__Display .textarea__Div__Container .new__Key__Value__Container .remove__Key__Value__Icon {
    cursor: pointer;
    color: #57A639;
    flex-basis: 15%;
}

.admin__Page__Container .current__Job__Display textarea,
.admin__Page__Container .current__Job__Display input{
    border: none;
    outline: none;    
    font-family: var(--inter-font);
    font-size: 0.875rem;
}

.admin__Page__Container .current__Job__Display textarea {
    resize: none;
    width: 100%;
}

.admin__Page__Container .current__Job__Display .textarea__Div__Container.edit__Page,
.admin__Page__Container .current__Job__Display textarea {
    margin-bottom: 8%;
}

.admin__Page__Container .current__Job__Display textarea[readonly],
.admin__Page__Container .current__Job__Display textarea:read-only {
    margin-bottom: 0;
}

.admin__Page__Container .current__Job__Display{
    width: 87%;
    margin: 3% auto;
    padding-bottom: 30%;
}

.admin__Page__Container .current__Job__Display span{
    margin: 10% 0;
}

.grey__Color {
    color: #838383 !important;
}

.admin__Page__Container .current__Job__Display textarea{
    padding: 4%;
    height: 15rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

.admin__Page__Container .current__Job__Display input,
.admin__Page__Container .current__Job__Display .dropdown-btn{
    width: max-content;
    margin-left: auto;
    padding: 2% 4%;
}

.admin__Page__Container .current__Job__Display input {
    width: 62%;
}

.admin__Page__Container .current__Job__Display .description__Text {
    justify-content: space-between;
}

.admin__Page__Container .current__Job__Display .description__Text .job__Type{
    font-size: 0.75rem;
    line-height: 15px;
    background: #FFFFFF;
    border-radius: 10px;
    color: #838383;
    padding: 1% 4%;
}

.admin__Page__Container .current__Job__Display span.edit__Page__Font__Size {
    font-size: 0.875rem;
    line-height: 17px;
}

.admin__Page__Container .current__Job__Display span.display__Flex.edit__Page__Font__Size b{
    font-weight: 500;
}

.admin__Page__Container .current__Job__Display span.title__Text.display__Flex.edit__Page__Font__Size b{
    white-space: nowrap;
}

.admin__Page__Container .current__Job__Display span.btn__Custom{
    cursor: pointer;
    justify-content: flex-end;
}

.admin__Page__Container .current__Job__Display span.btn__Custom:hover,
.admin__Page__Container .current__Job__Display span.btn__Custom:focus {
    filter: brightness(0.5);
}

.admin__Page__Container .add__Btn.rel__Pos{
    position: relative;
    width: 61.4%;
    display: block;
    border-radius: 20px;
    margin: 15% auto 4%;
    padding-top: 5.3%;
    padding-bottom: 5.3%;
    right: 0;
    bottom: 0;
}


@media (min-width: 768px) and (max-width: 991.98px){
    .admin__Page__Container .search__wrapper{
        margin-top: 4%;
    }   
    .admin__Page__Container .admin__Jobs__Container > *{
        width: calc((100% - 2%) /2);
        margin-right: 2%;
        display: inline-block;
    }
    .admin__Page__Container .admin__Jobs__Container > *:nth-child(2n + 2){
        margin-right: 0;
    }
    .admin__Page__Container .current__Job__Display{
        width: 85%;
        margin: 5% auto 10%;
    }
    .admin__Page__Container .current__Job__Display span{
        margin: 5% 0;
    }
    .admin__Page__Container .current__Job__Display textarea{
        padding: 4% 3%;
        height: 10rem;
    }
    .admin__Page__Container .current__Job__Display input,
    .admin__Page__Container .current__Job__Display .dropdown-btn{
        padding: 1.5%;
        margin-right: 20%;
    }
    .admin__Page__Container .add__Btn.rel__Pos{
        margin-top: 15%;
        padding-top: 3.3%;
        padding-bottom: 3.3%;
        width: 40%;
    }
    .admin__Page__Container .current__Job__Display .textarea__Div__Container.edit__Page.transparent__Bg {
        padding-top: 2%;
        padding-bottom: 2%;
    }
    .admin__Page__Container .current__Job__Display .textarea__Div__Container .new__Key__Value__Container:not(:last-child) {
        margin-bottom: 5%;
    }
    .admin__Page__Container .current__Job__Display .textarea__Div__Container .new__Key__Value__Container > *:nth-child(odd) {
        margin-right: 4%;
        flex-basis: 30%;
    }
    .admin__Page__Container .current__Job__Display .textarea__Div__Container .new__Key__Value__Container .remove__Key__Value__Icon {
        flex-basis: 12%;
    }
    
}

@media screen and (min-width: 992px){
    .admin__Page__Container .transparent__Bg {
        margin-bottom: 4% !important;
    }
    .admin__Page__Container .current__Job__Display{
        padding-bottom: 2%;
    }
    .admin__Page__Container .current__Job__Display span.title__Text .custom-hr {
        margin: 3% 0 6%;
    }
    .admin__Page__Container .navbar-container .menu__Icon__Container h2{
        margin-left: 11.2%;
    }
    .admin__Page__Container .search__wrapper{
        margin-top: 1.5%;
        margin-bottom: 1.5%;
        width: 97%;
    }
    .admin__Page__Container .admin__Jobs__Container{
        width: 80%;
        margin: 0 auto;
    }
    .admin__Page__Container .admin__Jobs__Container > *{
        width: calc((100% - 4%) / 3);
        margin-right: 2%;
        display: inline-block;
    }
    .admin__Page__Container .admin__Jobs__Container > *:nth-child(3n + 3){
        margin-right: 0;
    }
    .admin__Page__Container .current__Job__Display{
        width: 79.5%;
        margin: 3% auto;
        padding-bottom: 10%;
    }
    .admin__Page__Container .current__Job__Display span{
        margin: 3% 0;
    }
    .admin__Page__Container .current__Job__Display .description__Text {
        margin-bottom: 1.5%;
    }
    .admin__Page__Container .current__Job__Display textarea{
        padding: 3%;
        height: 10rem;
    }
    .admin__Page__Container .current__Job__Display input,
    .admin__Page__Container .current__Job__Display .dropdown-btn{
        padding: 1%;
    }
    .admin__Page__Container .current__Job__Display .description__Text .job__Type{
        padding: 0.5% 3%;
    }
    .admin__Page__Container .current__Job__Display .textarea__Div__Container{
        padding: 0.5% 3%;
    }
    .admin__Page__Container .current__Job__Display .textarea__Div__Container .new__Key__Value__Container:not(:last-child) {
        margin-bottom: 2%;
    }
    .admin__Page__Container .current__Job__Display .textarea__Div__Container .new__Key__Value__Container > *:nth-child(odd) {
        margin-right: 4%;
        flex-basis: 30%;
    }
    .admin__Page__Container .current__Job__Display .textarea__Div__Container .new__Key__Value__Container .remove__Key__Value__Icon {
        flex-basis: 10%;
    }
    .admin__Page__Container .add__Btn.rel__Pos{
        margin-left: 10.5%;
    } 
    .admin__Page__Container .add__Btn.rel__Pos{
        margin-top: 15%;
        padding: 2%;
        width: 14%;
        margin-left: 0;
        margin-right: auto;
        margin-bottom: 0;
    }   
}