*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

.authentication__error__Message{
  color: red !important;
}

.MuiOutlinedInput-input.input__Error__Item + .MuiOutlinedInput-notchedOutline {
  border-color: red !important;
}
