*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

.authentication__error__Message{
  color: red !important;
}

.MuiOutlinedInput-input.input__Error__Item + .MuiOutlinedInput-notchedOutline {
  border-color: red !important;
}

#root, html{
  background-color: #fff;
  height: 100%;
}

/* body {
  height: 100%;
  background: url("../src/assets/images/background-overlay.png"), #D9D9D9;
  backdrop-filter: blur(50px);
  background-size: cover;
  
} */